p {
	color:Black;
	text-align:center;
  }
 
h1 {
	color:magenta;
	text-align:center;
   } 
	
p {
	color:Green;
	text-align:center;
  }

h2 {
	color:CornflowerBlue;
	text-align:center;
   }
	
h3 {
	color:MidnightBlue;
	text-align:center;
   }
   
h5 {
	color:SlateGray;
	text-align:center;
   } 
   
h4 {
	color:CornflowerBlue;
	text-align:center;
   }   
   
   