h1
{
	color:white;
	background:black;
	font-weight:bold;
}




h2
{
	color: white;
	font-weight:bold;
	background-color:magenta;
	
}

h3
{
	color:white;
	font-weight:bold;
	background-color:gray
	;
}

h4
{
	color:white;
	background-color:black;
	font-weight:bold
}

footer
{
	background-color:yellow;
}